# Copy your entire django .env file here, then rename it to django.env; it will then be copied onto the target server.
# Make sure the database credentials match what you set in the Ansible variables for the playbook to set up on the target server.
